# Project
.idea
.vscode
projects/**/dist

# Firebase
.firebase/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node
node_modules

# Logs
*.log
npm-debug.log
firebase-debug.log*
firebase-debug.*.log*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Build
build
vendor/*-manifest.json
